# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log
logs/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/

# Ignore IDE specific files
.idea/

# Ignore test coverage results
coverage/
